<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Confirmation Success</title>
    <!-- Add your styles or use an external stylesheet -->
    <style>
        body {
            background-color: #c2f382;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        div {
            text-align: center;
            color: black;
            max-width: 80%; /* Adjust the width as needed */
        }
    </style>
</head>
<body>
<div>
    <h1 >Email verification has been successful</h1>
</div>
</body>
</html>
